:root {
    --primary-bg: #fcf8e8;
}
body {
    background-color: var(--primary-bg);
    background-image: url("src/grain/grain8.png");
    margin: 0;
    font-family: "Questrial", sans-serif;
}
.circle {
    position: absolute;
    width: 40vh;
    height: 50vh;
    border-radius: 40% 20% 50% 30%;
    background: linear-gradient(45deg, #0b404b, #388992, #69dae6);
    right: 10vw;
    top: 10vh;
    filter: blur(20px);
    transform: rotate(45deg);
    z-index: -1;
}
.section-main h2 {
    font-size: 5rem;
    margin: 20px 0 0 20px;
}
.section-main p {
    margin-left: 20px;
}
